html {
  background-color: rgb(21, 17, 22);
  color: rgb(209, 204, 223);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

h1 {
  color:rgb(154, 124, 202);
  font-size: 40px;
}

h2 {
  color:rgb(154, 124, 202);
  font-size: 24px;
  font-family:Arial, Helvetica, sans-serif;
}
z
.person {
  padding-top: 3px;
  font-size: 18px;
}

.notification {
  color:rgb(60, 97, 86);
  background: rgb(159, 179, 175);
  font-size: 18px;
  border-color:rgb(78, 119, 106);
  border-style: solid;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 8px;
}

.error {
  color:rgb(255, 0, 98);
  background: rgb(175, 175, 175);
  font-size: 18px;
  border-color:rgb(255, 0, 76);
  border-style: solid;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 8px;
}

.delete {
  background-color: rgb(199, 199, 253);
  border-color:rgb(193, 170, 214);
  border-radius: 9px;
  padding: 3px 4px;
  text-align: center;
  font-size: 11px;
  font-weight: bolder;
  color:rgb(100, 63, 138);
}

input {
  margin-left: 28px;
  margin-right: 2px;
  color:rgb(59, 44, 85);
  background-color: rgb(207, 201, 216);
}

.add {
  background-color: rgb(199, 199, 253);
  border-radius: 9px;
  color:rgb(100, 63, 138);
  padding: 8px 30px;
  text-align: center;
  font-size: 15px;
  margin-left: 157px;
}